*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0f172a;
color:white;
font-family:Arial,sans-serif;
}

.container{
padding:20px;
text-align:center;
}

h1{
margin-bottom:20px;
}

.camera-box{
width:800px;
max-width:95%;
margin:auto;
border:3px solid #38bdf8;
border-radius:15px;
overflow:hidden;
}

.camera-box img{
width:100%;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
margin-top:20px;
flex-wrap:wrap;
}

.card{
width:220px;
background:#1e293b;
padding:20px;
border-radius:15px;
}
video{
    width:800px;
    max-width:95%;
    border:3px solid #38bdf8;
    border-radius:15px;
    margin-top:20px;
}
