<!DOCTYPE html>
<html>
<head>
    <title>Driver Monitoring System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>🚗 Driver Monitoring System</h1>

    <video id="video" autoplay playsinline></video>

   <div class="cards">

    <div class="card">
        <h2>Status</h2>
        <p id="status">Monitoring Driver</p>
    </div>

  <div class="card">
    <h2>Drowsiness</h2>
    <p id="drowsiness">Normal</p>
</div>

    <div class="card">
        <h2>Face</h2>
        <p id="faceStatus">Detecting...</p>
    </div>
       <div class="card">
    <h2>Yawning</h2>
    <p id="yawning">No</p>
</div>
       <div class="card">
    <h2>Head Position</h2>
    <p id="headPose">Forward</p>
</div>
       <div class="card">
    <h2>Driver Score</h2>
    <p id="score">100</p>
</div>

</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js"></script>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
